<footer id="Footer" class="simple hide-bordertop fill-bg-light1">
	<div class='wrapper-960'>
		<ul class="row footer-nav simple clear">
			<li><a href="http://www.ustream.tv/platform/pro?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Product&amp;itm_campaign=footer">Product</a></li>
			<li><a href="https://www.ustream.tv/platform/plans?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Plans_and_Pricing&amp;itm_campaign=footer">Pricing</a></li>
			<li><a href="http://www.ustream.tv/explore/all?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Watch&amp;itm_campaign=footer">Watch</a></li>
			<li><a href="https://support.ustream.tv?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Support_Center&amp;itm_campaign=footer">Support Center</a></li>
			<li><a href="http://www.ustream.tv/our-company?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=About&amp;itm_campaign=footer">About</a></li>
		</ul>
		<div class="row gutter-20">
			<div class="bottom column column-12">
				<ul class='footer-copy clear'>
					<li><span class="copyright">© Copyright IBM Corporation {{ site.time | date: '%Y' }}. Licensed Materials – Property of IBM Corp.</span></li>
				</ul>
				<ul class='social clear'>
					<li><a href='http://www.facebook.com/ustream'><i class="glyphicon icon-facebook"></i></a></li>
					<li><a href='http://twitter.com/ustream'><i class="glyphicon icon-twitter"></i></a></li>
					<li><a href='https://www.linkedin.com/company/ustream-inc'><i class="glyphicon icon-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="footer__secondary row gutter-20">
			<ul>
				<li><a href="https://www.ustream.tv/contact-us?itm_source=footer&amp;itm_medium=onsite&amp;itm_content=Contact_us&amp;itm_campaign=contact_us_link">Contact</a></li>
				<li><a href="http://www.ibm.com/privacy/us/en/" target="_blank">Privacy</a></li>
				<li><a href="http://www.ibm.com/legal/us/en/" target="_blank">Terms of use</a></li>
				<li><a href="http://www.ibm.com/accessibility/us/en/" target="_blank">Accessibility</a></li>
				<li><a href="https://www.ustream.tv/copyright-policy?itm_source=footer&amp;itm_medium=onsite&amp;itm_content=Copyright_policy&amp;itm_campaign=copyright_policy_link">Copyright Policy</a></li>
				<li><a href="https://www.ustream.tv/acceptableusepolicy">Acceptable use policy</a></li>
			</ul>

		</div>
	</div>
</footer>