<footer>
	<div class='row'>
		<ul class="footer-nav clear">
			<li><a href="http://www.ustream.tv/platform/pro?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Product&amp;itm_campaign=footer">Product</a></li>
			<li><a href="http://www.ustream.tv/platform/broadcast-anywhere/new?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Apps&amp;itm_campaign=footer">Apps</a></li>
			<li><a href="http://www.ustream.tv/our-company?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=About&amp;itm_campaign=footer">About</a></li>
			<li><a href="http://www.ustream.tv/press?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=press&amp;itm_campaign=footer">Press</a></li>
			<li><a href="http://www.ustream.tv/our-company/career?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Career&amp;itm_campaign=footer">Career</a></li>
			<li><a href="http://www.ustream.tv/our-company/change?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Change&amp;itm_campaign=footer">Change</a></li>
			<li><a href="https://ustream.zendesk.com/home">Support</a></li>
			<li><a href="http://www.ustream.tv/explore/all?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Watch&amp;itm_campaign=footer">Watch</a></li>
			<li><a href="https://www.ustream.tv/platform/plans?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Plans_and_Pricing&amp;itm_campaign=footer">Plans and Pricing</a></li>
		</ul>
		<ul class='footer-copy clear'>
			<li><span class="copyright">© {{ site.time | date: '%Y' }} Ustream, Inc. an IBM Company. All rights reserved.</span></li>
            <li><a class="copyright-policy" href="http://www.ustream.tv/copyright-policy?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Copyright_policy&amp;itm_campaign=footer">Copyright Policy</a></li>
            <li><a class="privacy-policy" href="http://www.ustream.tv/privacy-policy?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Privacy_policy&amp;itm_campaign=footer">Privacy Policy</a></li>
            <li><a class="terms-of-service" href="http://www.ustream.tv/terms?itm_source=footer_saas&amp;itm_medium=onsite&amp;itm_content=Terms_of_service&amp;itm_campaign=footer">Terms of Service</a></li>
		</ul>
		<ul class='social clear'>
			<li><a href='http://www.facebook.com/ustream'><i class="glyphicon icon-facebook"></i></a></li>
			<li><a href='http://twitter.com/ustream'><i class="glyphicon icon-twitter"></i></a></li>
			<li><a href='https://www.linkedin.com/company/ustream-inc'><i class="glyphicon icon-linkedin"></i></a></li>
		</ul>
	</div>
</footer>